{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="{% url 'busqueda' %}">BUSCAR</a>
						<a href="{% url 'eliminar' %}">ELIMINAR</a>
						<a href="{% url 'agregar' %}">AGREGAR</a>
					</nav>
				</div>
			</div>
		</div>
			</header><br>

			<div class="container">
                <div class="row left-xs">
            <div class="container-card">
                <div class="card">
                    <figure>
                        <img src="{% static '/img/user.png'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Agregar a Usuario </h3>
                        <p>
                            <form action="/agregaru/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese datos del Usuario a Agregar</h5>
                                    </tr> <br>
                                    <tr> 
										<td> <h5> Nombre Usuario:</h5> </td>
                                        <td><input type="text" name="txt_nombre"></td>
									</tr>
									<tr>
										<td> <h5> Apellido Usuario:</h5> </td>
                                        <td><input type="text" name="txt_apellido"></td>
									</tr>
									<tr>
										<td> <h5> Telefono Usuario:</h5> </td>
                                        <td><input type="number" name="txt_telefono"></td>
									</tr>
									<tr>
										<td> <h5> Correo Usuario:</h5> </td>
                                        <td><input type="email" name="txt_correo"></td>
									</tr>
									<tr>
										<td> <h5> Direccion Usuario:</h5> </td>
                                        <td><input type="text" name="txt_direccion"></td>
                                    </tr>
                                    <tr></tr>
                                    <tr> 
                                        <td><input type="submit" value="Agregar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="{% static '/img/agregarc.jpg'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Agregar Casas</h3>
                        <p>
                            <form action="/agregarc/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese datos de la Casa a Agregar</h5>
                                    </tr><br>
                                    <tr>
										<td> <h5> Tamaño Casa:</h5> </td>
                                        <td><input type="text" name="txt_tamano"></td>
									</tr>
									<tr>
										<td> <h5> Cant. baños Casa:</h5> </td>
                                        <td><input type="number" name="txt_banos"></td>
									</tr>
									<tr>
										<td> <h5> Cant. Habitaciones Casa:</h5> </td>
                                        <td><input type="number" name="txt_habitaciones"></td>
									</tr>
									<tr>
										<td> <h5> Precio Casa:</h5> </td>
                                        <td><input type="number" name="txt_precio"></td>
									</tr>
									<tr>
										<td> <h5> Tipo Material Casa:</h5> </td>
										<td><input type="text" name="txt_tipoMadera">
										</td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td><input type="submit" value="Agregar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div>
            </div>
</body>
<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>
    
