{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Busqueda</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="{% url 'busqueda' %}">BUSCAR</a>
						<a href="{% url 'eliminar' %}">ELIMINAR</a>
						<a href="{% url 'agregar' %}">AGREGAR</a>
					</nav>
				</div>
			</div>
		</div>
            </header><br>
            <div class="container">
                <div class="row left-xs">
            <div class="container-card">
                <div class="card">
                    <figure>
                        <img src="{% static '/img/maderas.jpg'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Casas por tipo de madera </h3>
                        <p>
                            <form action="/buscart/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese el tipo de madera</h5>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="txt_casa"></td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td><input type="submit" value="Buscar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <figure>
                        <img src="{% static '/img/pieza.jpg'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Casas por habitaciones</h3>
                        <p>
                            <form action="/buscarp/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese la cantidad de habitaciones</h5>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="txt_casa"></td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td><input type="submit" value="Buscar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="{% static '/img/bano.jpg'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Casas por baños</h3>
                        <p>
                            <form action="/buscarb/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese la cantidad de baños</h5>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="txt_casa"></td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td><input type="submit" value="Buscar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div><br>
            </div>
            <div class="container-card">
                <div class="card">
                    <figure>
                        <img src="{% static '/img/ochiquito.png'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Usuarios por Nombre </h3>
                        <p>
                            <form action="/buscarn/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese el nombre del usuario</h5>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="txt_user"></td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td><input type="submit" value="Buscar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div>
                <div class="container-card">
                    <div class="card">
                        <figure>
                            <img src="{% static '/img/apellido.png'%}">
                        </figure>
                        <div class="contenido-card">
                            <h3>Usuarios por Apellido </h3>
                            <p>
                                <form action="/buscara/" method="GET">
                                    <table>
                                        <tr>
                                            <h5>Ingrese el apellido del usuario</h5>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="txt_user"></td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td><input type="submit" value="Buscar"></td>
                                        </tr>
                                    </table>
                                    </form>
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="container-card">
                        <div class="card">
                            <figure>
                                <img src="{% static '/img/correo1.png'%}">
                            </figure>
                            <div class="contenido-card">
                                <h3>Usuarios por Correo </h3>
                                <p>
                                    <form action="/buscarco/" method="GET">
                                        <table>
                                            <tr>
                                                <h5>Ingrese el correo del usuario</h5>
                                            </tr>
                                            <tr>
                                                <td><input type="text" name="txt_user"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td><input type="submit" value="Buscar"></td>
                                            </tr>
                                        </table>
                                        </form>
                                </p>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</body>
<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>