{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eliminar</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="{% url 'busqueda' %}">BUSCAR</a>
						<a href="{% url 'eliminar' %}">ELIMINAR</a>
						<a href="{% url 'agregar' %}">AGREGAR</a>
					</nav>
				</div>
			</div>
		</div>
			</header><br>
			<div class="container">
                <div class="row left-xs">
            <div class="container-card">
                <div class="card">
                    <figure>
                        <img src="{% static '/img/no.jpg'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Eliminar a Usuario </h3>
                        <p>
                            <form action="/eliminaru/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese el id a eliminar</h5>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="txt_id_usuario"></td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td><input type="submit" value="Eliminar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="{% static '/img/eliminarc.jpg'%}">
                    </figure>
                    <div class="contenido-card">
                        <h3>Eliminar Casas</h3>
                        <p>
                            <form action="/eliminarc/" method="GET">
                                <table>
                                    <tr>
                                        <h5>Ingrese el id de la casa</h5>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="txt_id_casa"></td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td><input type="submit" value="Eliminar"></td>
                                    </tr>
                                </table>
                                </form>
                        </p>
                    </div>
                </div>
            </div>
</body>
<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>