{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resultados Casas</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="{% url 'busqueda' %}">BUSCAR</a>
						<a href="{% url 'eliminar' %}">ELIMINAR</a>
						<a href="{% url 'agregar' %}">AGREGAR</a>
					</nav>
				</div>
			</div>
		</div>
			</header><br>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="datagrid">

                            {% if casa %}
                            <p>Casas Encontradas: {{casa|length}} casa</p>
                            <br>
                            <table>
                            <thead>
                                <tr>
                                    <th>Tamaño</th>
                                    <th>Baños</th>
                                    <th>Habitaciones</th>
                                    <th>Precio</th>
                                    <th>Tipo Madera</th>
                                </tr>
                            </thead>
                            {% for cas in casa %}
                            <tbody>
                                <tr>
                                    <td>{{cas.tamano}}</td>
                                    <td>{{cas.banos}}</td>
                                    <td>{{cas.habitaciones}}</td>
                                    <td>{{cas.precio}}</td>
                                    <td>{{cas.tipoMadera}}</td></tr>
                            </tbody>
                            {% endfor %}
                            {% else %}
                            <p>No existen casas con esas especificaciones</p>
                            {% endif %}
                            </table></div></div>
            </div><br><br>
            <a href="{% url 'busqueda' %}" class="button">Volver</a>
		</div>
	</div>
</body>
<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>