*{
	margin: 0;
	padding: 0;
}
body{
	background: #F2F2F2;
	font-family: verdana;

}


header{
	color: #FFFAFA;

}

header a{
	color: #FFFFFF;
	text-decoration: none;

}

hr{
	color: #808080;
}

h2, h3{
	color: #808080;
}

img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }

a{
	color: inherit;
	text-decoration: none;
}

p{
	margin-left: 10px;
}

button{
	background-image: linear-gradient(#FFFFFF, #909090);
	padding: 10px 10px;
	font-weight: bold;
}

.principal{
	background-image: linear-gradient(#696969, #424242, #000000);
	font-size: 16px;
	color: #FFFFFF;
}

.descargas{
	background-image: linear-gradient(#2685B8, #2F4F4F);
	font-size: 16px;
	color: #FFFFFF;
}

.cabeza{
	background-color: #158589;
	font-size: 18px;
	color: #FFFFFF;

}

.inicio{
	align-items: flex-start;
}

.final{
	align-items: flex-end;
}

.logo-menu{
	background: #158589;
	font-weight: 200;
	font-size: 15.6px;

}

.logo-menu .menu a{
	display: inline-block;
	padding: 30px 30px;
	padding-top: 40px;
}

.logo-menu .menu a:hover{
	background-color: #107070;
	border-bottom: 4px solid #4b0082;
	padding-bottom: 37px;

}

aside
{
	background:#2685B8;
	float: left;
	width:350%;
	height: 300px;
	line-height: 25px;
	text-align: center;
}

section
{
	background:#F2F2F2;
	float: center;
	width: auto;
	height: auto;
}

.btn-green
{
	color: white;
	background-color:rgb(228, 132, 22);

}

.btn-green:hover
{
	background-color:#da903b;
}

.btn-green:active
{
	background-color: #caa21d;
}

footer
{
    background-color:#158589 ;
    color: #fff;
    bottom: 0;
    padding: 20px 0 35px 0;
}

.slider {
	width: 79%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 3;
	width: 250%;
	
	animation: cambio 28s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 99%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	35% {margin-left: -100s;}
	40% {margin-left: -100;}
	
	50% {margin-left: -150%;}
	55% {margin-left: -150%;}
}

.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;

}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: left;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

.datagrid table {
    border-collapse: collapse;
    text-align: left; width: 100%; 
} 

.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; 
        background: #fff; 
        overflow: hidden; 
        border: 1px solid #065749; 
        -webkit-border-radius: 3px; 
        -moz-border-radius: 3px; 
        border-radius: 3px;
}

.datagrid table td, .datagrid table th {
     padding: 3px 10px; 
}

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #008279), color-stop(1, #64B1C4) );
    background:-moz-linear-gradient( center top, #008279 5%, #64B1C4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008279', endColorstr='#64B1C4');
    background-color:#008279; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #008279; 
} 

.datagrid table thead th:first-child {
    border: none; 
}

.datagrid table tbody td {
    color: #0C6B68;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}

 .datagrid table tbody .alt td {
    background: #E1EEf4; 
    color: #1FA694; 
} 

.datagrid table tbody td:first-child { 
    border-left: none;
}

.datagrid table tbody tr:last-child td { 
    border-bottom: none; 
}